APSIM.Cloud.Runner/Service References/JobsService/Jobs1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APSIM.Cloud.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APSIM.Cloud.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bob.apsim.info/APSIM.Cloud.Service/Jobs.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/APSIM.Shared.Soils" />
  <xs:import schemaLocation="http://bob.apsim.info/APSIM.Cloud.Service/Jobs.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="YieldProphet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paddock" nillable="true" type="tns:ArrayOfPaddock" />
      <xs:element minOccurs="0" name="ReportGeneratedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportType" type="tns:YieldProphet.ReportTypeEnum" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YieldProphet" nillable="true" type="tns:YieldProphet" />
  <xs:complexType name="ArrayOfPaddock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paddock" nillable="true" type="tns:Paddock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaddock" nillable="true" type="tns:ArrayOfPaddock" />
  <xs:complexType name="Paddock">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfLastRainfallEntry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InitTotalNitrogen" type="xs:double" />
      <xs:element minOccurs="0" name="InitTotalWater" type="xs:double" />
      <xs:element minOccurs="0" name="LastClimateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Management" nillable="true" type="tns:ArrayOfManagement" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ObservedData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="RainfallSinceSoilWaterSampleDate" type="xs:double" />
      <xs:element minOccurs="0" name="RainfallSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunType" type="tns:Paddock.RunTypeEnum" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/APSIM.Shared.Soils" minOccurs="0" name="Samples" nillable="true" type="q1:ArrayOfSample" />
      <xs:element minOccurs="0" name="Slope" type="xs:double" />
      <xs:element minOccurs="0" name="SlopeLength" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/APSIM.Shared.Soils" minOccurs="0" name="Soil" nillable="true" type="q2:Soil" />
      <xs:element minOccurs="0" name="SoilNitrogenSampleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SoilPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoilWaterSampleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartSeasonDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationNumber" type="xs:int" />
      <xs:element minOccurs="0" name="StubbleIncorporatedPercent" type="xs:double" />
      <xs:element minOccurs="0" name="StubbleMass" type="xs:double" />
      <xs:element minOccurs="0" name="StubbleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemperatureSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseEC" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paddock" nillable="true" type="tns:Paddock" />
  <xs:complexType name="ArrayOfManagement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Management" nillable="true" type="tns:Management" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManagement" nillable="true" type="tns:ArrayOfManagement" />
  <xs:complexType name="Management">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Management" nillable="true" type="tns:Management" />
  <xs:complexType name="Sow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Management">
        <xs:sequence>
          <xs:element minOccurs="0" name="BedRowSpacing" type="xs:double" />
          <xs:element minOccurs="0" name="BedWidth" type="xs:int" />
          <xs:element minOccurs="0" name="Crop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cultivar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmergenceDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IrrigationAmount" type="xs:double" />
          <xs:element minOccurs="0" name="MaxRootDepth" type="xs:int" />
          <xs:element minOccurs="0" name="RowSpacing" type="xs:int" />
          <xs:element minOccurs="0" name="SeedDepth" type="xs:int" />
          <xs:element minOccurs="0" name="SkipRow" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SowingDensity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Sow" nillable="true" type="tns:Sow" />
  <xs:complexType name="Fertilise">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Management">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="Scenario" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fertilise" nillable="true" type="tns:Fertilise" />
  <xs:complexType name="Irrigate">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Management">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="Efficiency" type="xs:double" />
          <xs:element minOccurs="0" name="Scenario" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Irrigate" nillable="true" type="tns:Irrigate" />
  <xs:complexType name="Tillage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Management">
        <xs:sequence>
          <xs:element minOccurs="0" name="Disturbance" type="tns:Tillage.DisturbanceEnum" />
          <xs:element minOccurs="0" name="Scenario" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tillage" nillable="true" type="tns:Tillage" />
  <xs:simpleType name="Tillage.DisturbanceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="High" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Tillage.DisturbanceEnum" nillable="true" type="tns:Tillage.DisturbanceEnum" />
  <xs:complexType name="StubbleRemoved">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Management">
        <xs:sequence>
          <xs:element minOccurs="0" name="Percent" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StubbleRemoved" nillable="true" type="tns:StubbleRemoved" />
  <xs:complexType name="ResetWater">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Management">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResetWater" nillable="true" type="tns:ResetWater" />
  <xs:complexType name="ResetNitrogen">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Management">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResetNitrogen" nillable="true" type="tns:ResetNitrogen" />
  <xs:complexType name="ResetSurfaceOrganicMatter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Management">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResetSurfaceOrganicMatter" nillable="true" type="tns:ResetSurfaceOrganicMatter" />
  <xs:simpleType name="Paddock.RunTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SingleSeason" />
      <xs:enumeration value="LongTerm" />
      <xs:enumeration value="LongTermPatched" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Paddock.RunTypeEnum" nillable="true" type="tns:Paddock.RunTypeEnum" />
  <xs:simpleType name="YieldProphet.ReportTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Crop" />
      <xs:enumeration value="SowingOpportunity" />
      <xs:enumeration value="F4P" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="YieldProphet.ReportTypeEnum" nillable="true" type="tns:YieldProphet.ReportTypeEnum" />
  <xs:complexType name="Farm4Prophet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FarmList" nillable="true" type="tns:ArrayOfFarmSystem" />
      <xs:element minOccurs="0" name="ReportGeneratedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnResults" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Farm4Prophet" nillable="true" type="tns:Farm4Prophet" />
  <xs:complexType name="ArrayOfFarmSystem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FarmSystem" nillable="true" type="tns:FarmSystem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFarmSystem" nillable="true" type="tns:ArrayOfFarmSystem" />
  <xs:complexType name="FarmSystem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" type="xs:double" />
      <xs:element minOccurs="0" name="CroppingRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiveStock" nillable="true" type="tns:FarmLivestock" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnFarmPaddocks" nillable="true" type="tns:ArrayOfFarmPaddockType" />
      <xs:element minOccurs="0" name="OnFarmSoilTypes" nillable="true" type="tns:ArrayOfFarmSoilType" />
      <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunLength" type="xs:int" />
      <xs:element minOccurs="0" name="SimTemplateType" type="tns:SimulationType" />
      <xs:element minOccurs="0" name="StartSeasonDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FarmSystem" nillable="true" type="tns:FarmSystem" />
  <xs:complexType name="FarmLivestock">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flocks" nillable="true" type="tns:ArrayOfFlockDescr" />
      <xs:element minOccurs="0" name="ShearingDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supp1Propn" type="xs:double" />
      <xs:element minOccurs="0" name="Supp2Propn" type="xs:double" />
      <xs:element minOccurs="0" name="Supplement1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplement2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeLambBreed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeLambBuyDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeLambCount" type="xs:int" />
      <xs:element minOccurs="0" name="TradeLambSaleWt" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FarmLivestock" nillable="true" type="tns:FarmLivestock" />
  <xs:complexType name="ArrayOfFlockDescr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlockDescr" nillable="true" type="tns:FlockDescr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlockDescr" nillable="true" type="tns:ArrayOfFlockDescr" />
  <xs:complexType name="FlockDescr">
    <xs:sequence>
      <xs:element minOccurs="0" name="BreedParams" nillable="true" type="tns:BreedParameters" />
      <xs:element minOccurs="0" name="BreedingEweCount" type="xs:int" />
      <xs:element minOccurs="0" name="CastForAgeYears" type="xs:double" />
      <xs:element minOccurs="0" name="Dam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EweJoinDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LambSaleWt" type="xs:double" />
      <xs:element minOccurs="0" name="SelfReplacing" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sire" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlockDescr" nillable="true" type="tns:FlockDescr" />
  <xs:complexType name="BreedParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConceptSingle" type="xs:double" />
      <xs:element minOccurs="0" name="ConceptTwin" type="xs:double" />
      <xs:element minOccurs="0" name="FleeceYield" type="xs:double" />
      <xs:element minOccurs="0" name="MaxFibre" type="xs:double" />
      <xs:element minOccurs="0" name="PotFleece" type="xs:double" />
      <xs:element minOccurs="0" name="SRW" type="xs:double" />
      <xs:element minOccurs="0" name="UseParams" type="xs:boolean" />
      <xs:element minOccurs="0" name="WeanerMortality" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BreedParameters" nillable="true" type="tns:BreedParameters" />
  <xs:complexType name="ArrayOfFarmPaddockType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FarmPaddockType" nillable="true" type="tns:FarmPaddockType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFarmPaddockType" nillable="true" type="tns:ArrayOfFarmPaddockType" />
  <xs:complexType name="FarmPaddockType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/APSIM.Shared.Soils" minOccurs="0" name="Sample" nillable="true" type="q3:Sample" />
      <xs:element minOccurs="0" name="SoilNitrogenSampleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SoilType" nillable="true" type="tns:FarmSoilType" />
      <xs:element minOccurs="0" name="SoilWaterSampleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StubbleMass" type="xs:double" />
      <xs:element minOccurs="0" name="StubbleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FarmPaddockType" nillable="true" type="tns:FarmPaddockType" />
  <xs:complexType name="FarmSoilType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaProportion" type="xs:double" />
      <xs:element minOccurs="0" name="CropRotationList" nillable="true" type="tns:ArrayOfCropSpec" />
      <xs:element minOccurs="0" name="SeasonFertiliser" type="xs:double" />
      <xs:element minOccurs="0" name="Slope" type="xs:double" />
      <xs:element minOccurs="0" name="SlopeLength" type="xs:double" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/APSIM.Shared.Soils" minOccurs="0" name="SoilDescr" nillable="true" type="q4:Soil" />
      <xs:element minOccurs="0" name="SoilPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FarmSoilType" nillable="true" type="tns:FarmSoilType" />
  <xs:complexType name="ArrayOfCropSpec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CropSpec" type="tns:CropSpec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCropSpec" nillable="true" type="tns:ArrayOfCropSpec" />
  <xs:complexType name="CropSpec">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxRootDepth" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CropSpec" nillable="true" type="tns:CropSpec" />
  <xs:complexType name="ArrayOfFarmSoilType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FarmSoilType" nillable="true" type="tns:FarmSoilType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFarmSoilType" nillable="true" type="tns:ArrayOfFarmSoilType" />
  <xs:simpleType name="SimulationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="stCropOnly" />
      <xs:enumeration value="stSingleFlock" />
      <xs:enumeration value="stDualFlock" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SimulationType" nillable="true" type="tns:SimulationType" />
</xs:schema>